<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Identity Registration</title>
	<h:outputStylesheet name="/css/style.css" />
	<link rel="stylesheet" type="text/css"
		href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
</h:head>
<h:body>

	<h:form label="identityForm" class="form">
		<h2 class="title-form-login">Please register your identity data
			below:</h2>
		<br />
		<h:inputText class="effect-input" required="true" label="First Name"
			placeholder="Firstname" validatorMessage="Enter first name"
			value="#{registerIdentityBean.identityDTO.firstName}"></h:inputText>
		<br />
		<br />
		<h:inputText class="effect-input" label="Last Name" required="true"
			placeholder="Lastname" validatorMessage="Enter last name"
			value="#{registerIdentityBean.identityDTO.lastName}"></h:inputText>
		<br />
		<br />
		<h:selectOneMenu required="true" label="Organizations"
			value="#{registerIdentityBean.identityDTO.organisationId}">
			<f:selectItems value="#{registerIdentityBean.organizations}"
				var="organization" itemValue="#{organization.id}"
				itemLabel="#{organization.name}" />
		</h:selectOneMenu>
		<br />
		<br />
		<h:commandButton class="btns" value="Send data"
			action="#{registerIdentityBean.registerIdentity()}"></h:commandButton>
		<br />
		<h:messages infoStyle="color:darkgreen" errorStyle="color:darkred"></h:messages>
	</h:form>

</h:body>
</html>