<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ManagementAppEjbEAR">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="ManagementAppEjb.jar" deploy-path="/" handle="module:/resource/ManagementAppEjb/ManagementAppEjb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ManagementAppEjbClient.jar" deploy-path="/" handle="module:/resource/ManagementAppEjbClient/ManagementAppEjbClient">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ManagementAppGUI.war" deploy-path="/" handle="module:/resource/ManagementAppGUI/ManagementAppGUI">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
