<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Admin page</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
</h:head>
<h:body>
<div>

	<h2 class="title-form-login">Admin page</h2>
	<br />
	<label>Welcome, </label>
	<h:outputText class="effect-input" required="true" label="Username"
		placeholder="Username" validatorMessage="Enter username"
		value="#{loginBean.loginDTO.username}"></h:outputText>
	<br />
	<br />


	<!-- Display Existing Identities -->
	<label>Available identities:</label>
	<h:form>
		<h:dataTable value="#{identityBean.identities}" var="identity"
			styleClass="userTable" headerClass="userTableHeader"
			rowClasses="userTableOddRow,userTableEvenRow">

			<h:column>
				<f:facet name="header">First Name</f:facet>
               #{identity.firstName}
            </h:column>

			<h:column>
				<f:facet name="header">Last Name</f:facet>
               #{identity.lastName}
            </h:column>
		</h:dataTable>

		<br />
		<br />
	</h:form>
	
	<!-- Display Existing Organizations -->
	<label>Available organizations:</label>
	<h:form>
		<h:dataTable value="#{organizationBean.organizations}" var="organization"
			styleClass="userTable" headerClass="userTableHeader"
			rowClasses="userTableOddRow,userTableEvenRow">

			<h:column>
				<f:facet name="header">Name</f:facet>
               #{organization.organizationName}
            </h:column>

			<h:column>
				<f:facet name="header">CUI</f:facet>
               #{organization.cui}
            </h:column>
            
		</h:dataTable>

		<br />
		<br />
	</h:form>

	<h:form label="organizationForm" class="form">
		<h:commandButton value="Add New Organization"
			action="#{organizationBean.goToNewOrganizationPage()}"></h:commandButton>
	</h:form>

	<h:form label="identityForm" class="form">
		<h:commandButton value="Add New Identity"
			action="#{identityBean.goToNewIdentityPage()}"></h:commandButton>
	</h:form>

	<h:commandButton value="LogOut"></h:commandButton>

</div>
</h:body>
</html>