<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Organization page</title>
	<h:outputStylesheet name="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
</h:head>
<h:body>

<h:form>

		<h2 class="title-form-login">Add New Identity below:</h2>
		<br />
		<label>Identity First Name: </label>
		<h:inputText class="effect-input" required="true" label="Identity First Name"
			placeholder="Identity First Name" validatorMessage="Enter Identity First Name"
			value="#{identityBean.identityDTO.firstName}"></h:inputText>
		<br />
		<label>Identity Last Name: </label>
		<h:inputText class="effect-input" required="true" label="Identity lastName"
			placeholder="Identity Last Name" validatorMessage="Enter Identity Last Name"
			value="#{identityBean.identityDTO.lastName}"></h:inputText>
		<br />
		<br />
		<h:commandButton value="Add Identity"
			action="#{identityBean.addNewIdentity()}"></h:commandButton>
</h:form>

</h:body>
</html>