<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Login</title>
	<h:outputStylesheet name="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"/>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
</h:head>

<h:body>

	<h:form label="loginForm" class="form">


		<h2 class="title-form-login">Please enter your credentials below:</h2>
		<br />
		<h:inputText class="effect-input" required="true" label="Username"
			placeholder="Username" validatorMessage="Enter username"
			value="#{loginBean.loginDTO.username}"></h:inputText>
		<br />
		<br />
		<h:inputSecret class="effect-input" label="Password" required="true"
			placeholder="Password" validatorMessage="Enter password"
			value="#{loginBean.loginDTO.password}"></h:inputSecret>
		<br />
		<br />
		<h:commandButton class="btns" value="Login"
			action="#{loginBean.loginUser}"></h:commandButton>
		<br />
		<h:messages infoStyle="color:darkgreen" errorStyle="color:darkred"></h:messages>

	</h:form>

</h:body>
</html>